html, body {
    height: 100%;
    width: 100%;
}

.loginImage {
    background-image: url("https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height: 100%;
}

.loginForm {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: translate(0, -20%);
    padding: 30px;
}
